* {
    margin: 0;
    padding: 0;
}
/* #dealer-hand, #player-hand {
    display: flex; 
    flex-direction: column;
}

.hand {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.card {
    width: 100px;
    height: 150px; 
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 10px;
    overflow: hidden;
} */

/* .card img {
    width: 100%;
    height: 100%;
}

.hidden {
    background-image: url('../assets/card.svg');
    width: 150px;
    height: 150px;

    background-color: #ccc; 
}

*/
